<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :file_name, :placeholder => "Filename" %></br>
    <%= f.text_area :description, :placeholder => "Description", :rows => "3" %></br>
    <%= f.text_field :tag_list, :placeholder => "Add commaseparated tags" %></br>
    <%= f.file_field :document %>

    <% if current_user.admin? %>
      <%= f.check_box :protected %> protected
    <% end %>

    <div><%= f.submit  :class => "btn btn-primary submit_button" %></div>
  </div>
<% end %>
