<%= render 'shared/app_top' %>

<h2>All documents</h2>
<div class="hero-unit">

  <%= link_to 'New document', new_asset_path, :class => "btn btn-primary pull-right" %>
 
  <% @assets.each do |asset| %>

      <h5><%= asset.file_name %></h5>
      <p>Tags: 
        <% asset.tag_list.each do |t| %>
          <span><%= t%></span>
        <% end %>
      </p>
      <ul class="unstyled inline">
      <% if current_user.admin? || asset.user_id == current_user.id %>
        <li><%= link_to 'Show', asset %></li> |
        <li><%= link_to 'Edit', edit_asset_path(asset) %></li> |
      <% end %>
      <% if current_user.admin? %>
        <li><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <%end%>
      </ul>
  <% end %>
  

  <br />
</div>
<%= render 'shared/app_bottom' %>